* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a1a1a;
}

h1 {
  color: #ebebeb;
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
  line-height: 100vh;
}

span {
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateY(50px);
  display: inline-block;
}

span.fade {
  opacity: 1;
  transform: translateY(0px);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
